.body{
    margin: 2em;
}
body{
    background-color: #1C1C1E;
    color: #FFFFFF;
}

.post{
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px solid rgb(172, 170, 170);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-width: 31em;
    align-items: start;
    /* min-width: 25em; */
}
.navbar{
    border: 0;
    border-bottom: 1px solid rgb(195, 191, 191);
    border-radius: 1em;
    background-color: #1E1E1E;
    padding: 1em;
}

form{
    width: 20em;
}

.form-control{
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #4a4a4a;
}

.form-control:active, .form-control::after{
    background-color: #1C1C1E;
}
.like-div{
    display: flex;
    gap: .45rem;
}

.container-info{
    display: flex;
    gap: 1em;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.svg-fill path{
    stroke: #1640D6;
}

.poster{
    color: #1640D6;
}

.body-container{
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
}

.b{
    flex: 1;
    flex-shrink: 0;
    margin: 1em;
}

.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.right-container{
    flex: 1;
    width: 40em;
}