.body{
    margin: 2em;
}
body{
    background-color: #1C1C1E;
    color: #FFFFFF;
    margin: 0%;
    padding: 0%;
}

.post {
    margin-top: 1em;
    margin-bottom: 2.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: baseline;
    justify-content: space-around;
    box-shadow: 0 0.2em 0.4em rgba(184, 182, 182, 0.2);
    padding: 1.5em;
    /* overflow:hidden; */
    white-space: nowrap;
    /*text-overflow:clip;  Adjust text-overflow property */
    /* Remove min-width and max-width properties */
    /* min-width: 70%;
    */
    width: 55%; /* Allow elements to shrink and expand based on available space */
}




.postText, .commentInput{
    width: 100%;
    transition: width 0.15s;
    max-width: 17em;
}
small {
    margin-bottom: .5em;
}


.postText:focus, .commentInput:focus{
    width: 100%;
    height: 7.5em;
}

div.PostContainer{
    
    padding: .5em;
    width: auto;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}




.navbar{
    border: 0;
    border-bottom: 1px solid rgb(195, 191, 191);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    background-color: #1E1E1E;
    padding: 1em;
    color: #1640D6;
}
.custom-toggler.navbar-toggler {
    border-color:rgb(19, 64, 224);
}
 
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(19, 64, 224)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

form{
    width: 100%;
}



.like-div{
    display: flex;
    gap: .45rem;
}

.container-info{
    display: flex;
    gap: 1em;
    /* justify-content: center; */
    align-items: center;
    flex-wrap: wrap;
}

.svg-fill path{
    stroke: #355ce7;
}

.poster{
    color: #1640D6;
}

.body-container {
    display: flex;
    gap: 1.5em;
    width: 100%;
}

.b{
    flex: 1 0 45%;
    max-width: calc(30% - 1em); 
    margin: 1em 0; 
}


.right-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    flex: 1;
    gap: 1em;
    width: 70%;
}

#posts{
    width: 100%;
}

/* *{
    outline: 1px solid red;
} */



@media (max-width: 920px) {
    .body-container {
        flex-direction: column; 
        max-width: 100%; 
        width: 100vw;
        justify-content: center;
        align-items: center;
        margin: 0%;
        padding: 0%;
    }
    .b{
        flex: 1 0 45%;
        max-width: calc(100% - 1em); 
        margin: 1em 0; 
    }
    .post{
        width: 100%; 
    }

    .right-container{
        flex: 1;
       width: 100%;
    }
}


.btn:focus,
.btn:active {
  outline: none;
  box-shadow: none;
}

.right-container{
    flex: 1;
    width: 100%;
}

form{
    width: calc(100% - 1.5em);
}

#user-follow{
    display: flex;
    align-items: center;
    gap: .25rem;
}

.form-control{
    margin-top: 1em;
    margin-bottom: 1em;
}

.commenter{
    color: #3e62e4;
    font-weight: bold;
}

.comment-divs{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #6c757d;
    color: #fff;
    border: none;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}


.interaction-div{
    display: flex;
    width: 100%;
    gap: 3em;
}

.swal2-popup {
    background-color: #1C1C1E; /* Set your desired background color here */
    color: #1640D6;
  }

